{% load static %}
<!-- All .js Custom Plugins Link Here here -->
<script src="{% static 'blog/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'blog/js/vendor/jquery-1.12.4.min.js'%}"></script>
<script src="{% static 'blog/js/popper.min.js'%}"></script>
<script src="{% static 'blog/js/bootstrap.min.js'%}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'blog/js/jquery.slicknav.min.js'%}"></script>
<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'blog/js/owl.carousel.min.js'%}"></script>
<script src="{% static 'blog/js/slick.min.js'%}"></script>
<!-- Date Picker -->
<script src="{% static 'blog/js/gijgo.min.js'%}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'blog/js/wow.min.js'%}"></script>
<script src="{% static 'blog/js/animated.headline.js'%}"></script>
<script src="{% static 'blog/js/jquery.magnific-popup.js'%}"></script>
<!-- Breaking New Pluging -->
<script src="{% static 'blog/js/jquery.ticker.js'%}"></script>
<script src="{% static 'blog/js/site.js'%}"></script>
<!-- Scrollup, nice-select, sticky -->
<script src="{% static 'blog/js/jquery.scrollUp.min.js'%}"></script>
<script src="{% static 'blog/js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'blog/js/jquery.sticky.js'%}"></script>
<!-- contact js%} -->
<script src="{% static 'blog/js/contact.js'%}"></script>
<script src="{% static 'blog/js/jquery.form.js'%}"></script>
<script src="{% static 'blog/js/jquery.validate.min.js'%}"></script>
<script src="{% static 'blog/js/mail-script.js'%}"></script>
<script src="{% static 'blog/js/jquery.ajaxchimp.min.js'%}"></script>
<!-- Jquery Plugins, main Jquery -->
<script src="{% static 'blog/js/plugins.js'%}"></script>
<script src="{% static 'blog/js/main.js'%}"></script>
